<header class="container">
    <div class="flex">
      <div class="box-50 text-left">
        <div class="box-img-header">
          <a href="favoritos"><img src="../assets/imagens/variação-logo.png" alt="" class="img-responsive"></a>
        </div>
      </div>
      <div class="box-50 text-right ajustes-header-icon">
        <div class="box-icon-header">
          <a href="../carrinho">
            <img class="img-responsive" src="../../assets/imagens/cart.png" alt="">
          </a>
        </div>
      </div>
    </div>
</header>
