<footer>
    <div class="container">
      <ul class="footer-ul">
        <li>
          <a class="box-img-footer" href="../favoritos">
            <img src="../assets/imagens/icon-home.png" alt="" class="img-responsive">
          </a>
        </li>
        <li>
          <a class="box-img-footer" href="../cardapio">
            <img src="../assets/imagens/icon-food.png" alt="" class="img-responsive">
          </a>
        </li>
        <li>
          <a class="box-img-footer" href="../cardapio-bebida">
            <img src="../assets/imagens/icon-drink.png" alt="" class="img-responsive">
          </a>
        </li>
        <li>
          <a class="box-img-footer" href="../meu-perfil">
            <img src="../assets/imagens/icon-perfil.png" alt="" class="img-responsive">
          </a>
        </li> 
      </ul>
    </div>
  </footer>
