<app-header></app-header>
<main>
  <div class="container">
    <a class="flex btn-aperitivos" *ngFor="let aperitivo of aperitivos" [href]="aperitivo.link">
      <div class="box-70 box-ajuste">
        <p class="box-title-cardapio">{{ aperitivo.nome }}</p>
        <p class="box-desc-cardapio">{{ aperitivo.descricao }}</p>
      </div>
      <div class="box-30 box-ajuste text-right">
        <img class="img-responsive" [src]="aperitivo.imagem" alt="">
        <p class="box-preco-cardapio">{{ aperitivo.preco }}</p>
      </div>
    </a>
  </div>

</main>
<app-footer></app-footer>