<app-header></app-header>
<main>
  <div class="container">
    <a class="flex btn-aperitivos" *ngFor="let burguer of burguers" [href]="burguer.link">
      <div class="box-70 box-ajuste">
        <p class="box-title-cardapio">{{ burguer.nome }}</p>
        <p class="box-desc-cardapio">{{ burguer.descricao }}</p>
      </div>
      <div class="box-30 box-ajuste text-right">
        <img class="img-responsive" [src]="burguer.imagem" alt="">
        <p class="box-preco-cardapio">{{ burguer.preco }}</p>
      </div>
    </a>
  </div>

</main>
<app-footer></app-footer>