<app-header></app-header>
<main>
    <div class="container">
        <div class="flex">
            <a class="box-100 btn-cardapios" href="cardapio-aperitivos">Aperitivos</a>
            <a class="box-100 btn-cardapios" href="cardapioBurguer">Hambúrgueres</a>
            <a class="box-100 btn-cardapios" href="cardapio-prato">Pratos</a>
            <a class="box-100 btn-cardapios" href="cardapio-sobremesa">Sobremesas</a>
            <a class="box-100 btn-cardapios" href="cardapio-japa">Japas</a>
        </div>
    </div>
</main>
<app-footer></app-footer>