<form [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Nome do Aperitivo</mat-label>
    <input matInput formControlName="aperitivo" >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrediente 1</mat-label>
    <input matInput formControlName="ingrediente_1">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ingrediente 2</mat-label>
    <input matInput formControlName="ingrediente_2">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preço</mat-label>
    <input matInput formControlName="preco_aperitivo">
  </mat-form-field>

  <button (click)="enviarAperitivo()" mat-raised-button color="accent">adicionar</button>

</form>

