<div *ngIf="showPreloader" class="preloader">
    <img src="../../assets/imagens/teste.gif" alt="Preloader">
</div>

<div class="box-escolha-home">
    <div class="box-ajuste-escolha">
        <div class="box-img-escolha">
            <img src="../assets/imagens/variação-logo.png" alt="" class="img-responsive">
        </div>
        <div class="box-btn-login text-center">
            <a class="button" href="/login">Faça o Login</a>
        </div>
        <div class="box-btn-login text-center">
            <a class="button" href="/cadastro">Cadastre-se!</a>
        </div>
    </div>
</div>