.box-title-esp a {
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
    text-decoration: none;
}

.box-img-esp img {
    border-radius: 16px;
}

.box-second-title-esp h2 {
    color: #fff;
    margin: 10px 0;
}

.box-text-esp p {
    color: #fff;

}

.box-btn-esp{
    text-align: center;
}

.cta {
    position: relative;
    margin: 30px auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: block;
    border-radius: 50px;
    background: #71062E;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #F2E09D;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #F2E09D;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #71062E;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}