<app-header></app-header>
<main>
    <div class="container">
      <div class="flex">
        <div class="box-100">
          <div class="box-tipo-cardapio-1">
            <a href="/cardapio-aperitivos">Easy Espetinhos</a >
          </div>
          <div class="box-tipo-cardapio-2">
            <a href="/cardapio-aperitivos">Easy Sushi</a >
          </div>
          <div class="box-tipo-cardapio">
            <a href="/cardapio-aperitivos">Easy Burguer</a >
          </div>
          <div class="box-tipo-cardapio-3">
            <a href="/cardapio-aperitivos">Easy Comidinhas</a >
          </div>
          <!-- <div class="box-tipo-cardapio">
            <a href="/cardapio-hamburgueres">Hambúrgueres</a >
          </div>
          <div class="box-tipo-cardapio">
            <a href="/cardapio-pratos">Pratos</a >
          </div>
          <div class="box-tipo-cardapio">
            <a href="/cardapio-bebidas">Bebida</a >
          </div>
          <div class="box-sobremesas">
            <div class="box-tipo-cardapio">
              <a href="">Sobremesas</a >
            </div>
          </div> -->
        </div>
      </div>
    </div>
</main>
<app-footer></app-footer>
